h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: orangered;
    margin-right: 105px;
}
div{

    width: 400px;
    height: 50px;
  
    
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    background-color: #f0f0f0;
}

.calculator-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 20px;
    
  
}
input {
    padding: 10px;
    margin: 10px;
    width: 200px;
    font-size: 16px;
}
.form-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.form-button:hover {
    background-color: #45a049;
}



#result {
    font-size: 18px;
    margin-top: 20px;
    color: #333;
}